argh==0.26.2
atomicwrites==1.2.1
attrs==18.2.0
bleach==3.3.0
bumpversion==0.5.3
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coverage==4.5.2
docopt==0.6.2
docutils==0.14
flake8==3.6.0
idna==2.7
mccabe==0.6.1
more-itertools==4.3.0
pathtools==0.1.2
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.0
pytest==4.0.1
pytest-cov==2.6.0
pytest-watch==4.2.0
PyYAML==3.13
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
watchdog==0.9.0
webencodings==0.5.1
